header {
  position: relative;
  text-align: center;
  background-color: #333;
}

header h1 {
  margin-top: 0;
  padding: 20px;
  color: #fff;
}

header p {
  position: absolute;
  top: 15%;
  right: 8%;
  font-size: 0.8rem;
  color: #fff;
  transform: rotate(15deg);
}

@media screen and (max-width: 690px) {
  header h1 {
    font-size: 1.6rem;
  }

  header p {
    top: 20%;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.4rem;
  }

  header p {
    top: 40px;
    right: 30%;
    left: 35%;
    transform: rotate(0deg);
  }
}